<div class="flex flex-col justify-between h-screen w-screen p-8">
  <div class="flex justify-center items-center">
    <ng-container *ngFor="let x of players.at(1)?.cards; let i = index">
      <img class="m-2 overflow-x-auto"
      [ngClass]="{'opacity-50 cursor-not-allowed': !isMyTurn(1)}" 
     [src]="getFileName(x)" alt="" 
     (click)="isMyTurn(1) && playCard(i)"
   >    </ng-container>
  </div>
  <div class="flex justify-start items-center">
    <img class="flex" src="../assets/card_back.png" alt="Draw a card!" (click)="drawCard()">
    <ng-container *ngIf="currentCard">
      <img class="m-2 mx-auto" [src]="getFileName(currentCard)" alt="">
    </ng-container>
    <img class="invisible" src="../assets/card_back.png" alt="Draw a card!">

  </div>
  <div class="flex justify-center items-center">
    <ng-container *ngFor="let x of players.at(0)?.cards; let i = index">
        <img class="m-2 overflow-x-auto"
         [ngClass]="{'opacity-50 cursor-not-allowed': !isMyTurn(0)}" 
        [src]="getFileName(x)" alt="" 
        (click)="isMyTurn(0) && playCard(i)"
      >
    </ng-container>
  </div>
</div>
