<div class="relative flex flex-col justify-between h-screen w-screen p-8">
  <div *ngIf="componentName=== 'chooseColor'" class="backdrop"></div>
  <div class="flex justify-center w-full bg-orange-300 text-white py-2 rounded" *ngIf="currentColour">Please put {{currentColour}} color</div>
  <div class="flex justify-center items-center">
    <ng-container *ngFor="let x of players.at(1)?.cards; let i = index">
      <img class="m-2 overflow-x-auto"
      [ngClass]="{'opacity-50 cursor-not-allowed': !isMyTurn(1)}" 
     [src]="getFileName(x)" alt="" 
     (click)="isMyTurn(1) && playCard(i)"
   >    </ng-container>
  </div>
  <div class="flex justify-start items-center">
    <img class="flex" src="../assets/card_back.png" alt="Draw a card!" (click)="drawCard()">
    <ng-container *ngIf="currentCard">
      <img class="m-2 mx-auto" [src]="getFileName(currentCard)" alt="">
    </ng-container>
    <img class="invisible" src="../assets/card_back.png" alt="Draw a card!">

  </div>
  <div class="flex justify-center items-center">
    <ng-container *ngFor="let x of players.at(0)?.cards; let i = index">
        <img class="img-card"
         [ngClass]="{'opacity-50 cursor-not-allowed': !isMyTurn(0)}" 
        [src]="getFileName(x)" alt="" 
        (click)="isMyTurn(0) && playCard(i)"
      >
    </ng-container>
  </div>
  <ng-container *ngIf="componentName === 'chooseColor'">
  <div class="overlayComponent bg-white flex flex-col">
    <div class="font-semibold text-lg justify-center items-center flex mt-4">{{'Choose a color' | uppercase}}</div>
    <div class="flex">
      <ng-container *ngFor="let x of colors">
      <button type="button" class="m-4 w-32 h-32 rounded border cursor-pointer"
      [ngClass]="'bg-' + x + '-500 hover:bg-' + x + '-300'"
      (click)="chooseColor(x)">{{ x | uppercase}}</button>
    </ng-container>
    </div>
    
  </div>
  
</ng-container>
  <ng-container *ngIf="componentName === 'typeName'">
    <div class="overlayComponent flex-col bg-white flex">
  
      <input type="text" [(ngModel)]="currentPlayerName">
      <button type="button" class="bg-blue-500 hover:bg-blue-300 px-2 py-1 border rounded m-4 w-32"
        (click)="close()">Enter</button>
    </div>
  </ng-container>
</div>
