<div class="relative flex flex-col justify-between h-screen w-screen p-8 bg-slate-500">
  <div *ngIf="componentName=== 'chooseColor'" class="backdrop"></div>
  <div class="flex justify-center w-full bg-orange-300 text-white py-2 rounded" *ngIf="currentColour">Please put {{currentColour}} color</div>
  <div class="flex justify-center items-center">
    <ng-container *ngFor="let x of players.at(1)?.cards; let i = index">
      <img class="m-2 overflow-x-auto"
      [ngClass]="{'opacity-50 cursor-not-allowed': !isMyTurn(1)}" 
     [src]="getFileName(x)" alt="" 
     (click)="isMyTurn(1) && playCard(i)"
   >    </ng-container>
  </div>
  <div class="flex justify-start items-center">
    <img class="flex" src="../assets/card_back.png" alt="Draw a card!" (click)="drawCard()">
    <ng-container *ngIf="currentCard">
      <img class="m-2 mx-auto" [src]="getFileName(currentCard)" alt="">
    </ng-container>
    <img class="invisible" src="../assets/card_back.png" alt="Draw a card!">

  </div>
  <div class="flex justify-center items-center">
    <ng-container *ngFor="let x of players.at(0)?.cards; let i = index">
        <img class="m-2 overflow-x-auto"
         [ngClass]="{'opacity-50 cursor-not-allowed': !isMyTurn(0)}" 
        [src]="getFileName(x)" alt="" 
        (click)="isMyTurn(0) && playCard(i)"
      >
    </ng-container>
  </div>
  <ng-container *ngIf="componentName === 'chooseColor'">
  <div class="chooseColorComponent bg-white flex">
    <button type="button" class="bg-yellow-500 hover:bg-yellow-300 px-2 py-1 border rounded m-4 w-32"
    (click)="chooseColor('yellow')"
    >Yellow</button>
    <button type="button"
    class="bg-blue-500 hover:bg-blue-300 px-2 py-1 border rounded m-4 w-32"
    (click)="chooseColor('blue')"
    >Blue</button>
    <button type="button" class="bg-green-500 hover:bg-green-300 px-2 py-1 border rounded m-4 w-32"
    (click)="chooseColor('green')"
    >Green</button>
    <button type="button" class="bg-red-500 hover:bg-red-300 px-2 py-1 border rounded m-4 w-32"
    (click)="chooseColor('red')"
    >Red</button>
  </div>
  
</ng-container>
</div>
